body{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right top, #fff6f8, #ffedf1, #ffe4e9, #ffdae2, #ffd1da);
    color: #4D2A33;
    margin: 0;
}

nav, main, section{
    margin: 20px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #4D2A33;
}

.sombra{
    border-radius: 10px;
    box-shadow: 3px 2px 4px #FFD1DA;
}

.contenedor__blanco{
    background-color: white;
    border-radius: 10px;
    padding: 20px 0;
}

.contenedor__sincolor{
    border-radius: 10px;
    padding: 20px 0;
}

button.btn_disabled{
    background-color: rgb(185, 185, 185);
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 20px;
    height: 35px;
    width: 140px;
    color: white;
    font-size: 0.9rem;
    box-shadow: 1px 1px 4px #d5d5d5;
    margin-bottom: 5px;
}

/*BARRA DE NAVEGACIÓN*/

div.logo__navbar img{
    width: 180%;
}

nav.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

ul.list__nav__navbar{
    display: flex;
    justify-content: space-around;
}

li.item__list__nav{
    margin: 0 15px;
    font-weight: 600;
    font-size: 0.9rem;
    transition: transform 0.3s ease-in-out;
}

li.item__list__nav:hover{
    transform: scale(1.1);
}

div.iconos__navbar{
    display: flex;
}

div.iconos__navbar img{
    margin: 0 10px;
    width: 23px;
    transition: transform 0.3s ease-in-out;
}

div.iconos__navbar img:hover{
    transform: scale(1.1);
}

/*MAIN*/

div.contenedor__principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.contenedor__img img{
    width: 8rem;
    border-radius: 100%;
}

div.contenedor__info{
    display: flex;
    flex-direction: column;
    width: 70vw;
}

div.contenedor__info__datos__principales{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.info__btn{
    width: 40vw;
    display: flex;
    justify-content: center;
}

div.info__datos__nombre{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

h1.info__datos__titulo{
    font-size: 1.5rem;
    margin: 3px 5px 3px 0;
}

a.icono__enlace img{
    width: 20px;
}

h3.info__datos__puesto{
    font-size: 1rem;
    font-weight: 500;
    margin: 3px 5px 3px 0;
}

h3.info__datos__lugar{
    font-size: 1rem;
    margin: 3px 5px 3px 0;
}

button.btn__principal{
    background-color: #f11a7b;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    color: white;
    font-size: 0.9rem;
    box-shadow: 1px 1px 4px #d5d5d5;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

button.btn__principal:hover{
    transform: scale(1.1);
}

div.contenedor__info__datos__enlaces{
    margin-top: 10px;
}

ul.list__redes__sociales__principal{
    display: flex;
    padding-left: 0px;
}

li.item__list__redes__principales{
    margin-right: 20px;
}

li.item__list__redes__principales a{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

li.item__list__redes__principales a:hover{
    text-decoration: underline;
}

li.li.item__list__redes__principales a img{
    margin-right: 10px;
}

a.enlace__red__imagen img{
    margin-right: 5px;
    width: 20px;
}

/*SOBRE MÍ*/

div.contenedor__sobre__mi{
    padding: 10px 30px;
}

h2.subtitulo__sobre__mi{
    font-size: 1rem;
}

/*SKILLS*/

div.contenedor__skills{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.skill__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

div.skill__card__cuadro{
    background-color: white;
    width: 130px;
    height: 130px;
    margin: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

div.skill__card__cuadro:hover {
    transform: scale(1.1);
}

div.skill__card__img img{
    width: 100px
}

button.btn__skill{
    width: 130px;
    height: 40px;
    border: none;
    background-color: white;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #4D2A33;
    margin: 5px 0;
    transition: transform 0.3s ease-in-out;
}

button.btn__skill:hover{
    transform: scale(1.1);
}

/*SECCIÓN DE FORMACIÓN ACADÉMICA*/

div.contenedor__formacion__academica{
    padding: 10px 30px;
}

div.formacion__card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

article.card__general__formacion{
    width: 20%;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

div.formacion__img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
}

div.formacion__info{
    height: 80px;
}

div.formacion__img img{
    width: 50%;
}

h3.formacion__titulo{
    font-size: 1rem;
    margin: 5px 0;
}

p.formacion__descripcion{
    font-size: 0.9rem;
    margin: 5px 0;
}

/*SECCION PARA PROYECTOS*/

div.proyecto__actual{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
}

div.proyecto__actual__info{
    width: 50%;
    padding: 0 30px;
}

div.proyecto__actual__img{
    display: flex;
    justify-content: center;
    width: 50%;
}

div.proyecto__actual__img img{
    width: 70%;
    border-radius: 10px;
}

button.btn__repo{
    background-color: #f11a7b;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    color: white;
    font-size: 0.9rem;
    box-shadow: 1px 1px 4px #d5d5d5;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
}

button.btn__demo{
    background-color: white;
    border: 1px solid #f11a7b;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    color: #f11a7b;
    font-size: 0.9rem;
    box-shadow: 1px 1px 4px #d5d5d5;
    cursor: pointer;
}

/*RESTO DE PROYECTOS*/

div.contenedor__projects{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.project__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    transition: transform 0.3s ease-in-out;
}

div.project__card:hover{
    transform: scale(1.1);
}

div.project__card__cuadro{
    background-color: white;
    width: 200px;
    height: 300px;
    margin: 15px 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
}

div.project__card__img{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5px 0;
}

div.project__card__img img{
    width: 160px;
    height: 90px;
    border-radius: 10px;
}

div.project__card__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    height: 90px;
}

h4.project__card__titulo{
    font-size: 0.8rem;
    padding: 5px 0;
    margin: 5px 0;
}

p.project__card__descripcion{
    font-size: 0.8rem;
    margin: 5px 0;
}

div.proyectos__botones__contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

button.btn__repo__secundario{
    background-color: #f11a7b;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 20px;
    height: 35px;
    width: 140px;
    color: white;
    font-size: 0.9rem;
    box-shadow: 1px 1px 4px #d5d5d5;
    cursor: pointer;
    margin-bottom: 5px;
}

button.btn__demo__secundario{
    background-color: white;
    border: 1px solid #f11a7b;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    height: 35px;
    width: 140px;
    color: #f11a7b;
    font-size: 0.9rem;
    box-shadow: 1px 1px 4px #d5d5d5;
    cursor: pointer;
}

/*CONTACTO*/

div.contenedor__contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form.formulario__contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input.input_form{
    margin: 10px 0;
    width: 350px;
    height: 35px;
    border-radius: 40px;
    border: 1px solid #FFD1DA;
    outline: none;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 2px 1px 4px #ffd1da;
    color: #4D2A33;
}

input.input_form:focus{
    border-bottom: 1.5px solid #b8145e;
}

textarea.textarea_form{
    margin: 10px 0;
    width: 350px;
    border-radius: 20px;
    border: 1px solid #FFD1DA;
    outline: none;
    padding-top: 15px;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 2px 1px 4px #ffd1da;
    color: #4D2A33;
}

textarea.textarea_form:focus{
    border-bottom: 1.5px solid #b8145e;
}

button.btn__final{
    margin-top: 10px;
}

/*VALIDACIÓN FORM*/

p.advertencia{
    font-size: 11px;
    color: red;
    margin: 0;
}

p.advertencia:last-child{
    color: green;
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/*FOOTER*/

section.seccion__footer{
    background-color: #4D2A33;
    color: #FFD1DA;
    margin: 20px 0 0 0;
    padding: 20px;
}

footer.contenedor__footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul.list__nav__footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

li.item__nav__footer a{
    color: #FFD1DA;
    margin: 0 20px;
}

li.item__nav__footer a:hover{
    text-decoration: underline;
}

ul.list__iconos__footer{
    display: flex;
}

li.item__iconos__footer{
    margin: 0 15px;
    transition: transform 0.3s ease-in-out;
}

li.item__iconos__footer:hover{
    transform: scale(1.1);
}

img.icon_footer{
    width: 23px;
}

/*MEDIA QUERIES*/

/*TABLET*/

@media (max-width:830px){

    div.contenedor__principal{
        flex-direction: column;
    }

    div.contenedor__info__datos__principales{
        flex-direction: column;
    }

    div.info__datos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div.info__btn{
        margin-top: 10px;
    }

    li.item__list__redes__principales{
        margin-right: 10px;
    }

    li.item__list__redes__principales a {
        align-items: flex-start;
    }

    div.contenedor__formacion__academica{
        padding: 10px;
    }

    article.card__general__formacion{
        width: 35%;
        margin: 20px 10px;
    }

    div.formacion__img img{
        width: 70%;
    }

    div.formacion__info{
        margin: 10px 0;
    }

    div.proyecto__actual{
        flex-direction: column;
    }

    div.proyecto__actual__info{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    h2.titulo__proyecto__actual{
        margin-bottom: 0;
        text-align: center;
    }

    p.descripcion__proyecto__actual{
        text-align: center;
    }

    div.proyecto__actual__img{
        width: 90%;
    }

    p.subtitulo__contacto{
        text-align: center;
        padding: 0 35px;
    }

    ul.list__nav__footer{
        flex-direction: column;
        padding-left: 0;
    }

    li.item__nav__footer{
        margin: 5px 0;
    }

    ul.list__iconos__footer{
        padding-left: 0;
    }

}

@media (max-width:630px){

    nav.navbar{
        flex-direction: column;
        padding: 20px 0;
    }

    ul.list__redes__sociales__principal{
        flex-direction: column;
    }

    li.item__list__redes__principales{
        margin-bottom: 10px;
    }

}
