body{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right top, #fff6f8, #ffedf1, #ffe4e9, #ffdae2, #ffd1da);
    color: #4D2A33;
    margin: 20px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #4D2A33;
}

.sombra{
    border-radius: 10px;
    box-shadow: 3px 2px 4px #FFD1DA;
}

.contenedor__blanco{
    background-color: white;
    border-radius: 10px;
    padding: 20px 0;
}

.contenedor__sincolor{
    border-radius: 10px;
    padding: 20px 0;
}

/*BARRA DE NAVEGACIÓN*/

div.logo__navbar img{
    width: 180%;
}

nav.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

ul.list__nav__navbar{
    display: flex;
    justify-content: space-around;
}

li.item__list__nav{
    margin: 0 15px;
    font-weight: 600;
    font-size: 0.9rem;
}

div.iconos__navbar{
    display: flex;
}

div.iconos__navbar img{
    margin: 0 5px;
    width: 20px;
}

/*MAIN*/

main.seccion__principal{
    margin: 10px 0;
}

div.contenedor__principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.contenedor__img img{
    width: 8rem;
    border-radius: 100%;
}

div.contenedor__info{
    display: flex;
    flex-direction: column;
    width: 70vw;
}

div.contenedor__info__datos__principales{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.info__btn{
    width: 40vw;
    display: flex;
    justify-content: center;
}

div.info__datos__nombre{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

h1.info__datos__titulo{
    font-size: 1.5rem;
    margin: 3px 5px 3px 0;
}

a.icono__enlace img{
    width: 20px;
}

h3.info__datos__puesto{
    font-size: 1rem;
    font-weight: 500;
    margin: 3px 5px 3px 0;
}

h3.info__datos__lugar{
    font-size: 1rem;
    margin: 3px 5px 3px 0;
}

button.btn__principal{
    background-color: #f11a7b;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    color: white;
    font-size: 0.9rem;
    box-shadow: 1px 1px 4px #d5d5d5;
    cursor: pointer;
}

button.btn__principal:hover{
    background-color: #b8145e;
}

div.contenedor__info__datos__enlaces{
    margin-top: 10px;
}

ul.list__redes__sociales__principal{
    display: flex;
    padding-left: 0px;
}

li.item__list__redes__principales{
    margin-right: 20px;
}

li.item__list__redes__principales a{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

li.li.item__list__redes__principales a img{
    margin-right: 10px;
}

a.enlace__red__imagen img{
    margin-right: 5px;
    width: 20px;
}

/*SOBRE MÍ*/

div.contenedor__sobre__mi{
    padding: 10px 30px;
}

h2.subtitulo__sobre__mi{
    font-size: 1rem;
}

/*SKILLS*/

div.contenedor__skills{
    display:flex;
    justify-content: center;
}

div.skill__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

div.skill__card__cuadro{
    background-color: white;
    width: 130px;
    height: 130px;
    margin: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

div.skill__card__img img{
    width: 100px
}

button.btn__skill{
    width: 130px;
    height: 40px;
    border: none;
    background-color: white;
    border-radius: 15px;
}

/*SECCIÓN DE FORMACIÓN ACADÉMICA*/



/*CONTACTO*/



/*REDES SOCIALES DEL CONTENEDOR DE CONTACTO*/



/*FORMULARIO DEL CONTENEDOR DE CONTACTO*/


/*FOOTER*/


/*MEDIA QUERIES*/

